.container {
  height: 650px;
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  background-image:url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

table {
  text-align: left;
}

th {
  font-family: jeopardy;  
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 50px;
  padding-left: 5px;
  text-align: center;
}


td {
  padding: 5px 10px 5px 5px;
  text-align: center;
  border-right: 1px solid black;
}

.left {
  text-align: left;
}

.stats {
  text-align: left;
  margin: 0;
  color: orange;
  font-family: jeopardy_bold;
  font-size: 1.1em
}

.stats span {
  font-family: jeopardy;
  color: black;
}

.round-stats {
  font-family: jeopardy_clue;
  font-size: 2em;
  text-transform: uppercase;
  padding: 20px;
}

.finish-statistics {
  margin: 0 auto;
  height: 650px;
  width: 1000px;
}

.stats-left {
  float: left;
  background-image:url('../img/alex-trebek.jpg');
  background-repeat: no-repeat;
  height: 641px;
  width: 234px;
  margin-right: 30px;
}

.stats-right {
  height: 641px;
  font-family: jeopardy_clue;
}

.correct-list {
  list-style: none;
}

.incorrect-list {
  list-style: none;
}

.tv {
  background-image:url('../img/tv.jpg');
  background-repeat: no-repeat;
  width: 900px;
  height: 640px;
  margin: auto;
  position: relative;
} 

.tv h2 {
  color: white;
  font-family: jeopardy;
  float:left;
  padding: 10px;
  margin: 0;
}

.tv h3 {
  clear: both;
  font-size: 3.5em;
  color: white;
  text-align: center;
  font-family: jeopardy_clue;
  text-transform: uppercase;
  margin: auto;
  height: 510px;
  width: 820px;
  padding: 80px 40px 0 40px;
  text-shadow: 0px 3px 2px rgba(0,0,0,0.5);
}

.display-answer {
  clear: both;
  font-size: 3.5em;
  color: white;
  text-align: center;
  font-family: jeopardy_clue;
  text-transform: uppercase;
  margin: auto;
  padding: 30px 40px 60px 40px;
  text-shadow: 0px 3px 2px rgba(0,0,0,0.5);
}

.display-finished {
  clear: both;
  font-size: 2em;
  color: white;
  text-align: center;
  font-family: jeopardy_clue;
  text-transform: uppercase;
  margin: auto;
  text-shadow: 0px 3px 2px rgba(0,0,0,0.5);
}

#answer {
  margin-top: 100px;
  bottom: 0px;
  margin-top: -75px;
  margin-left: 250px;
  width: 400px;
  text-align: center;
}

#wrong-answer {
  clear: both;
  text-align: center;
  color: white;
  font-family: jeopardy;
  padding: 10px;
  margin: 0;
  font-size: 3em;
}

#whatis{
  color: white;
  text-align: center;
  font-family: jeopardy_clue;
  font-size: 1.3em;
  text-transform: uppercase;
  text-shadow: 0px 3px 2px rgba(0,0,0,0.5);
}

div.progress {
  float: right;
  color: white;
  font-family: jeopardy;
  padding: 10px;
  font-size: 1.5em;
}

.inactive {
  display: none;
}


@font-face {
  font-family: jeopardy;
  src: url('../fonts/jeopardy.ttf');
}


@font-face {
  font-family: jeopardy_clue;
  src: url('../fonts/jeopardy_clue.ttf');
}


@font-face {
  font-family: jeopardy_bold;
  src: url('../fonts/jeopardy_bold.ttf');
}

.before-game {
  background-image:url('../img/trebek_bg.jpg');
  background-repeat: no-repeat;
  width: 900px;
  height: 640px;
  text-align: left;
  margin: auto;
}

.before-game h1 {
  text-align: left;
  margin: 0;
  padding: 180px 0px 0px 40px;
  color: orange;
  font-family: jeopardy_bold;
  font-size: 3em
}

.before-game h2 {
  text-align: left;
  margin: 0;
  padding: 20px 0px 0px 40px;
  color: orange;
  font-family: jeopardy;
  font-size: 2.1em;
}

.before-game ul {
  list-style: none;
}

.before-game ul li{
  list-style: none;
  padding: 10px 10px 10px 0px;
  font-size: 1.2em;
}

.before-game ul li a {
  text-align: left;
  margin: 0;
  color: white;
  font-family: jeopardy_clue;
}

h1.main-header {
  font-family: jeopardy_bold;
  text-align: center;
  font-size: 3.3em;
  color: orange;
  margin-top:0;
  padding-top:0;
}

h2.main-header {
  color: white;
  text-align: center;
  font-family: jeopardy;
  margin-top: 93px;
  font-size: 2em;
}

h4 {
  color: white;
  text-align: center;
  font-family: jeopardy_clue;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 0px 3px 2px rgba(0,0,0,0.5);
  padding: 20px;
}

ul.main-header {
  padding: 0;
  margin: 0;
  list-style: none;

}

.login {
  padding: 20px 0px 0px 0px;
}

.login li {
  text-align: center;
  list-style: none;
  padding: 0;
  color: white;
}

.signup {
  padding: 20px 0px 0px 0px;
}

.signup li {
  text-align: center;
  list-style: none;
  padding: 0;
  color: white;
}

.toggle-link {
  color: white;
}

a.index-button {
  text-decoration: none;
  margin-top:50px;
  margin-left: 380px;
}

.index-button {
  border:1px solid #96f0ff; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #0055FF; background-color: #cef8ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cef8ff), to(#7fe0f8));
  background-image: -webkit-linear-gradient(top, #cef8ff, #7fe0f8);
  background-image: -moz-linear-gradient(top, #cef8ff, #7fe0f8);
  background-image: -ms-linear-gradient(top, #cef8ff, #7fe0f8);
  background-image: -o-linear-gradient(top, #cef8ff, #7fe0f8);
  background-image: linear-gradient(to bottom, #cef8ff, #7fe0f8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cef8ff, endColorstr=#7fe0f8);
}

.index-button:hover {
  border:1px solid #68e9ff; background-color: #9bf1ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9bf1ff), top(#4fd4f5));
  background-image: -webkit-linear-gradient(top, #9bf1ff, #4fd4f5);
  background-image: -moz-linear-gradient(top, #9bf1ff, #4fd4f5);
  background-image: -ms-linear-gradient(top, #9bf1ff, #4fd4f5);
  background-image: -o-linear-gradient(top, #9bf1ff, #4fd4f5);
  background-image: linear-gradient(to bottom, #9bf1ff, #4fd4f5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9bf1ff, endColorstr=#4fd4f5);
}

#play-button {
  margin-top: 200px;
}

#stats-button {
  margin-top: 275px;
}

#logout-button {
  margin-top: 350px;
}

#play-button:hover {
  margin-top: 200px;
}

#stats-button:hover {
  margin-top: 275px;
}

#logout-button:hover {
  margin-top: 350px;
}

.floating-link {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  width: 100px;
  height: 50px;
  overflow: hidden;
  color: white;
  line-height:50px;
  text-align: center;
  text-decoration:none;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cef8ff), to(#7fe0f8));
  background-image: -webkit-linear-gradient(top, #cef8ff, #7fe0f8);
  background-image: -moz-linear-gradient(top, #cef8ff, #7fe0f8);
  background-image: -ms-linear-gradient(top, #cef8ff, #7fe0f8);
  background-image: -o-linear-gradient(top, #cef8ff, #7fe0f8);
  background-image: linear-gradient(to bottom, #cef8ff, #7fe0f8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cef8ff, endColorstr=#7fe0f8);
}

.floating-link:hover {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  width: 100px;
  height: 50px;
  overflow: hidden;
  color: white;
  line-height:50px;
  text-align: center;
  text-decoration:none;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9bf1ff), top(#4fd4f5));
  background-image: -webkit-linear-gradient(top, #9bf1ff, #4fd4f5);
  background-image: -moz-linear-gradient(top, #9bf1ff, #4fd4f5);
  background-image: -ms-linear-gradient(top, #9bf1ff, #4fd4f5);
  background-image: -o-linear-gradient(top, #9bf1ff, #4fd4f5);
  background-image: linear-gradient(to bottom, #9bf1ff, #4fd4f5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9bf1ff, endColorstr=#4fd4f5);
}


